body {
  background-color: #222;
}

.Grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  padding: 10px;
  border: #888 solid 1px;
}

.Row {
  float: left;
}

.Square,
.Flipped {
  background-color: #aaa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.Flipped {
  background-color: #ddd;
  color: #bbb;
}

.OneClose {
  color: blue;
}
.TwoClose {
  color: green;
}
.ThreePlusClose {
  color: red;
}

.Square:hover {
  background-color: #888;
  border: #888 solid 1px;
}

.gameOver {
  color: white;
}

.Head {
  background-color: purple;
}

.Tail {
  background-color: blue;
}

.Fruit {
  background-color: red;
}
