body {
  background-color: #222;
}

.Grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  border: #888 solid 1px;
}

.Row {
  float: left;
}

.Square,
.Flipped {
  background-color: #aaa;
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 30px;
  height: 30px;
  border: #888 solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.Flipped {
  background-color: #ddd;
  color: #bbb;
}

.OneClose {
  color: blue;
}
.TwoClose {
  color: green;
}
.ThreePlusClose {
  color: red;
}

.Square:hover {
  background-color: #888;
  border: #888 solid 1px;
}

.gameOver {
  color: white;
}

.Head {
  background-color: blue;
}

.Body {
  background-color: purple;
}

.Fruit {
  background-color: red;
}
